body {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    /*background-color: #85ccff;*/
    padding: 20px;
    /*width: 80%;*/
    /*margin-left: 80px;*/
    /*margin-right: 80px;*/
    margin: auto;
}
.left_marigin {
    font-size: 0.6em;
    background: #636363;
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;

}

		/*.container {*/
		/*	position: relative;*/
		/*	width: 70%;*/
		/*	border: solid #036;*/
		/*	border-width: 0 3px;*/
		/*	margin: auto;*/
        /*    color: black;*/
		/*}*/

.logo {
    max-height: 180px;
    max-width: 80px;
}

.table_body {

    color: black;
}

.table_list {
    text-align: right;
    margin: auto;

    background: #ddd;
    color: black;
    border-radius: .4em;
    overflow: hidden;
    border: 20px solid #ddd;
    border-top: 20px solid #ddd;
    border-left: 20px solid #ddd;
}

.top_table {
    margin: auto;
    background: #ddd;
    text-align: left;
    border-radius: .8em;
    overflow: hidden;
    border: 20px solid #ddd;
    min-width: 98%;
    max-height: 80px;

}
.table_all {
    margin: auto;
    background: #ddd;
    text-align: justify;
    border-radius: .8em;
    overflow: hidden;
    border: 20px solid #ddd;

    min-height: auto;

}
.search_bar {
    margin: auto;
    padding: 5px;
    text-align: right;

}

.button_vote {
    font-size: 10px;
    height: 2em;
    width: 4em;
    float: right;
    margin: auto;
    padding: 0px;
    text-align: center;

}


table {
    font-size: 0.8em;
    margin: 1em;

}

h1 {
    text-align: center;
    margin: 0.5em;
}

.index_links {
       text-align: center;
       margin: 0.5em;

                  }
tr {
    text-align: center;
    border-bottom: black;
    border: #9C1A1C;
}

th, td {
    text-align: left;
    padding: 0.5em;
}
h2 {
 text-align: center;
    margin: 0.1em

}
.table_all thead {

  border-bottom: 3px solid black;

}

tr {
    border-top: 4px solid #ddd;
    border-bottom: 1px solid #ddd;

  }

.link-wrapper {
    position: relative;
    padding: 40px 20px;
    /*background: #dedede;*/
    width: 500px;
    text-align: center;
    margin: auto;
    border-radius: 2em;
}
.main_look{
    background: #eeeeee;
    border-width: 2px;
    border-style: solid;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.a_at_list {
    text-align: center;
    color: #9C1A1C;
    display: inline-block;
    padding: 12px 20px;
    margin: 0px 0px;
    background: #878787;
    border-color: #9e9e9e #636363 #636363 #9e9e9e;
    border-width: 2px;
    border-style: solid;
    border: 1px solid #CCC;
    border-radius: 1em;
    width: 15%;
    align-self: center;
}

.menu_list a {
    display: inline-block;
    padding: 12px 20px;
    margin: 0px 0px;
    background: #878787;
    border-color: #9e9e9e #636363 #636363 #9e9e9e;
    border-width: 2px;
    border-style: solid;
    width: 250px;
}
.menu_list a:hover {
    background: white;

}
a:link {
    color: #11557C;

    font-weight: bolder

}

a:visited {
    color: midnightblue;
    font-weight: bolder

}

/*.container {*/
/*    max-width: 500px;*/
/*    width: 80%;*/
/*    margin: 20px auto;*/
/*    text-align: justify;*/
/*    background-color: white;*/
/*    padding: 20px;*/
/*    border-radius: 5px;*/
/*}*/

.delete_button {

    padding-right: 10px;
    padding-left:  10px;
    align-self: center;

}
.left_bottom_on_list {
    padding-left: 20px;

}
.menu_list {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: right;

}
.menu_list td {
    position: relative;
    /*padding: 13px 20px;*/
    /*background: #dedede;*/
    width: 250px;
    text-align: center;
    margin: auto;
    border-radius: 1em;
    /*padding: 0;*/
    font-size: 1.5em;
    /*text-align: center;*/

}
.line_message {

    text-align: justify;
}


form {
    margin: 0 auto;
    width: min-content;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #9e9e9e;

}

#warning_box {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: crimson;
    text-align: center;
}

#search_box {
    margin: 0 auto;
    width: 250px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #636363;
    text-align: left;
}


#head {font-weight: bold;
justify-content: center}
