body {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: #E6E6FA;

}

.table_body {

    color: black;
}
.table_list {

    font-family: Ubuntu;
    background: lightgrey;
    color: black;
    border-radius: .4em;
    overflow: hidden;
    border-top: 20px solid #ddd;


}
.button_vote {
    font-size: 10px;
    height: 2em;
    width: 4em;
    float: right;
    margin: auto;
    padding: 0px;
    text-align: center;

}


table {
    font-size: 0.8em;
    margin: 1em;

}

h1 {
    text-align: center;
    margin: 0.5em;
}

.index_links {
       text-align: center;
       margin: 0.5em;

                  }
tr {
    text-align: center;
    border-bottom: black;
    border: #9C1A1C;
}

th, td {
    text-align: left;
    padding: 0.5em;
}
h2 {
 text-align: center;
    margin: 0.5em

}

.table_all {
    font-family: Ubuntu;

    background: lightgrey;
    color: black;
    border-radius: .8em;
    overflow: hidden;
    border-top: 20px solid #ddd;
    min-height: 1200px;
}
tr {
    border-top: 4px solid #ddd;
    border-bottom: 1px solid #ddd;

  }


a:link {
    color: #11557C;

    font-weight: bolder

}

a:visited {
    color: midnightblue;
    font-weight: bolder

}

.container {
    max-width: 500px;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.delete_button {

    padding-right: 10px;
    padding-left:  10px;
}