body {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: white;
    padding: 20px;

    margin-left: 80px;
    margin-right: 80px;

}

.table_body {

    color: black;
}

.table_list {
    text-align: right;
    font-family: Ubuntu;
    background: #ddd;
    color: black;
    border-radius: .4em;
    overflow: hidden;
    border: 20px solid #ddd;
    border-top: 20px solid #ddd;
    border-left: 20px solid #ddd;
}
.table_all {

    background: #ddd;
    text-align: justify;
    border-radius: .8em;
    overflow: hidden;
    border: 20px solid #ddd;

    min-height: 1200px;

}


.button_vote {
    font-size: 10px;
    height: 2em;
    width: 4em;
    float: right;
    margin: auto;
    padding: 0px;
    text-align: center;

}


table {
    font-size: 0.8em;
    margin: 1em;

}

h1 {
    text-align: center;
    margin: 0.5em;
}

.index_links {
       text-align: center;
       margin: 0.5em;

                  }
tr {
    text-align: center;
    border-bottom: black;
    border: #9C1A1C;
}

th, td {
    text-align: left;
    padding: 0.5em;
}
h2 {
 text-align: center;
    margin: 0.1em

}
.table_all thead {

  border-bottom: 3px solid black;

}

tr {
    border-top: 4px solid #ddd;
    border-bottom: 1px solid #ddd;

  }

.a_at_list {
    text-align: center;
    color: #9C1A1C;

}

a:link {
    color: #11557C;

    font-weight: bolder

}

a:visited {
    color: midnightblue;
    font-weight: bolder

}

.container {
    max-width: 500px;
    width: 80%;
    margin: 20px auto;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.delete_button {

    padding-right: 10px;
    padding-left:  10px;

}
.left_bottom_on_list {
    padding-left: 20px;

}
.menu_list {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: right;

}
.menu_list td {
    padding: 0;
    font-size: 1.5em;
    text-align: center;

}
.line_message {

    text-align: justify;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #D3E7E9;

}

#warning_box {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: crimson;
    text-align: center;
}

#search_box {
    margin: 0 auto;
    width: 250px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #D3E7E9;
    text-align: left;
}


#head {font-weight: bold;
justify-content: center}

#serchbox
    {
    margin: 0 auto;
    width: 250px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #D3E7E9;
}