<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ 'Edit' if answer_id else 'Add' }} answer</title>
</head>

<body>
    <h3>{{ 'Edit' if answer_id else 'Add' }} answer</h3>

    <form method="post">
    <label for="answer-add-edit">Your answer:</label>
    <textarea id="answer-add-edit" name="answer_m" rows="8" cols="40">{{ answer_message if answer_message }}</textarea>
    <button type="submit">{{ 'Edit' if answer_id else 'Add' }}</button>
    </form>

</body>
</html>
