<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="style.css") }}'>

<head>
    <meta charset="utf-8">
    <title>{{ 'Edit' if answer_id else 'Add' }} answer</title>
    <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h3></h3>


    <form id='add_edit' method="post">
    <label for="add_edit">{{ 'Edit' if answer_id else 'Add' }} answer for question:</label>
        <p>{{ question_title }}</p>
    <textarea id="answer-add-edit" name="answer_m" rows="8" cols="40">{{ answer_message if answer_message }}</textarea>
        <br>
    <button type="submit">{{ 'Edit' if answer_id else 'Add' }}</button>
    </form>

</body>
</html>
