<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="style.css") }}'>
    <title>Delete</title>
</head>
<body>
    <div id="warning_box">
    {% if status and answer_id %}
        <h4> Answer was removed</h4>
        <a href="/questions/{{ question_id }}">Back to the answers list</a>
    {% elif status %}
        <h4> Question was removed</h4>
        <a href="/list">Back to the question list</a>
    {% elif question_id and answer_id %}
        <h4>Are you sure you want delete answer?</h4>
        <h4></h4>
        <a href="/delete/answer/{{ question_id }}/{{ answer_id }}/1">YES</a>
        <a href="/questions/{{ question_id }}">NO</a>
    {% elif question_id %}
        <h4>Are you sure you want delete question?</h4>
        <h4></h4>
        <a href="/delete/{{question_id}}/1">YES</a>
        <a href="/list">NO</a>
    {% endif %}
    </div>
</body>
</html>