<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASK MATE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="temp_style.css") }}'>
</head>
<body>

    <div class="container">
        <div class="row">


            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/askmate_logo.png" class="logo" alt="logo">
                </a>
                 <a class="navbar-brand" href="/list"> Show all questions </a>
                 <a class="navbar-brand" href="/note"> Add question </a>
                 <a class="navbar-brand" href="{{ url_for("user_registration")}}"> Registration </a>

                {% if "username" in session %}
                <a class="navbar-brand" href="{{ url_for("user_logout")}}"> Logout user: {{session["username"]}} </a>
                <a class="navbar-brand" href="/users"> User list </a>
                    <a class="navbar-brand" href="/user/{{session["user_id"]}}">
                    <img src="/static/images/user_logo.png" class="logo_user" alt="user">
                </a>
                {% else %}
            <a class="navbar-brand" href="{{ url_for("user_login")}}"> Log in </a>

            {% endif %}
        </td>
    </tr>


                <form class="form-inline mr-sm-2" action="/search" method="get">
                    <input class="form-control my-2 my-sm-0" type="search" placeholder="Search" aria-label="Search" name="sphrase" id="search_phrase" required >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>

        <div class="row">
            <div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">

        {% if sorted_questions %}
           <table>
               <thead>
               <tr>
                {% for header in headers %}
                    <th>{{(header.replace("_"," ").strip().title())}}</th>
                {% endfor %}
                </tr>
                </thead>
                <tbody>
            {% for dict in sorted_questions[:5] %}
                <tr>  </tr>
                     {% for key,value in dict.items() %}
                        {% if key in headers %}
                            <td>{% if key.strip() == "title" %}
                                    <a href="/questions/{{dict['id']}}">{{value}}</a>
                                    {% else %}
                                {{value}}
                            </td>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
            {% endfor %}
                </tbody>
           </table>

        {% else %}
            <p>no questions in database</p>
        {% endif %}
            </div>
        </div>

    </div>

</body>
</html>