<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASK MATE</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="style.css") }}'>
</head>
<body>
<div class="container">
<p class="left_marigin"> </p>
<h1>Welcome to ASK MATE {{session if session}}</h1>
<table class="menu_list">
    <tr>
        <td><a href="/list"> Show all questions </a></td>
    </tr>
    <tr>
        <td><a href="/note"> Add question </a></td>
    </tr>
<!--    Added new links below -->
    <tr>
        <td><a href="{{ url_for("user_registration")}}"> Registration </a></td>
    </tr>
    <tr>
        <td>
            {% if session %}
            <a href="{{ url_for("user_logout")}}"> Logout user: {{session}} </a>
            {% else %}
            <a href="{{ url_for("user_login")}}"> Log in </a>
            {% endif %}
        </td>
    </tr>

</table>
    <form class="search_bar" action="/search" method="get" >
        <input type="text" name="sphrase" id="search_phrase" required>
        <input type="submit" value="Search">
    </form>
    <h2>Last five questions were :</h2>

    <table class="table_all">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{(header.replace("_"," ").strip().title())}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dict in sorted_questions[:5] %}
                <tr>  </tr>
                     {% for key,value in dict.items() %}
                        {% if key in headers %}
                            <td>{% if key.strip() == "title" %}
                                    <a href="/questions/{{dict['id']}}">{{value}}</a>
                                    {% else %}
                                {{value}}
                            </td>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>