<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASK MATE</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="style.css") }}'>
</head>
<body>
<h1>Welcome to ASK MATE</h1>
<table class="menu_list">
    <tr>
        <td><a href="/list"> Show all questions </a></td>
    </tr>
    <tr>
        <td><a href="/note"> Add question </a></td>
    </tr>
</table>

    <h2>Last five questions were:</h2>

    <table class="table_all">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{(header.replace("_"," ").strip().title())}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dict in sorted_questions[:5] %}
                <tr>  </tr>
                     {% for key,value in dict.items() %}
                        {% if key in headers %}
                            <td>{% if key.strip() == "title": %}
                                    <a href="/questions/{{dict['id']}}">{{value}}</a>
                                    {% else %}
                                {{value}}
                            </td>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>