<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASK MATE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="temp_style.css") }}'>
</head>
<body>
    <div class="container">
        <div class="row">


            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand" href="#">
                    <img src="/static/images/askmate_logo.png" class="logo" alt="logo">
                </a>
                 <a class="navbar-brand" href="/note"> Add question </a>
                 <a class="navbar-brand" href="{{ url_for("user_registration")}}"> Registration </a>

                {% if session %}
                <a class="navbar-brand" href="{{ url_for("user_logout")}}"> Logout user: {{session}} </a>
                <a class="navbar-brand" href="/users"> User list </a>
                    <a class="navbar-brand" href="/user/<user_id>">
                    <img src="/static/images/user_logo.png" class="logo_user" alt="user">
                </a>
                {% else %}
            <a class="navbar-brand" href="{{ url_for("user_login")}}"> Log in </a>
            {% endif %}

                <form class="form-inline mr-sm-2" action="/search" method="get">
                    <input class="form-control my-2 my-sm-0" type="search" placeholder="Search" aria-label="Search" name="sphrase" id="search_phrase" required >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    <div class="row">
{% if sorted_questions %}

    <table>
    <thead>

    <tr>
        {% for key in sorted_questions[0].keys()%}
            {% if key == "submission_time" or key == "vote_number" or key == "message" or key == "view_number" or key == "title" %}
             <th><a href="/list/{{ key }}/{{ '0' if direction else '1'}}">
                        {{ key.replace('_', ' ').title() }}
                        </a>
             </th>
            {% elif key == "message" or key == "image" %}
            <th> {{key}} </th>
                <th>Delete?</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    {% for line in sorted_questions: %}
        <tr>
            <td> {{line["submission_time"]}}</td>
            <td> {{line["view_number"]}} </td>
            <td> {{line["vote_number"]}} <a class="vote_button" href="/list/{{line["id"]}}/vote_up">
                <img src='/static/images/ar_up.png' alt="up_arrow" width="15px"></a>
                <a class="vote_button" href="/list/{{line["id"]}}/vote_down">
                    <img src='/static/images/ar_down.png' alt="down_arrow" width="15px"></a>
            </td>
            <td>
                <a href="/questions/{{line["id"]}}"> {{line["title"]}}</a>
            </td>
            <td class="line_message"> {{line["message"]}}</td>
            <td> {{line["image"]}}</td>

            <td><a href="/delete/{{line["id"]}}">
                <img src='/static/images/delete.png' alt="delete" width="15px" class="delete_button"></a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h1> {{message}}</h1>
{% endif %}
    </div>

</div>

</body>
</html>