<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Question list</title>
</head>
<body>
<p>Question list: </p>

<!-- TODO: make sort by title, message, number of views, number of votres, submission time -->
<!-- TODO: remove id from list> -->

<table>
    <thead>
    <tr>
        {% for key in sorted_questions[0].keys()%}
            {% if key == "submission_time" or key == "vote_number" or key == "message" or key == "view_number" or key == "title" %}
             <td><a href="/list/{{key}}/1">
                        {{ key.replace('_', ' ').capitalize() }}</a>
             </td>
            {% elif key == "message" or key == "image" %}
            <th> {{key}} </th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    {% for line in sorted_questions: %}
        <tr>
            <td> {{line["submission_time"]}}</td>
            <td> {{line["view_number"]}}</td>
            <td> {{line["vote_number"]}}</td>
            <td>
                <a href="/questions/{{line["id"]}}"> {{line["title"]}}</a>
            </td>
            <td> {{line["message"]}}</td>
            <td> {{line["image"]}}</td>
        </tr>
    {% endfor %}
</table>
<a href="/add"> Add question </a>
<p></p>
<a href="/"> Back to main page </a>
</body>
</html>