<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form method="post">
            <label for="useremail"> Your login (email) </label>
            <p><input id="email" type="email" name="email" size="30" min="3"
                      required placeholder="name@example.com"></p>
            <label for="userpass"> Your password </label>
            <p><input id="password" type="text" name="userpass" required
                      placeholder="Enter your password here">
            </p>
            <p><input type=submit value="Log in"></p>
        </form>

</body>
</html>
