<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ 'Add' if not question_id else 'Edit' }} question</title>
</head>

<body>
    <h3>{{ 'Add' if  not question_id else 'Edit' }} question</h3>

    <form method="post">
    <label for="question-add-edit">Your question:</label>
    <p>Title: </p>
    <p><input type="text" name="title_m" minlength="5" maxlength="50" value="{{title if title}}" required size="40"> </p>
    <p>Message: </p>
    <p><textarea id="question-add-edit" name="question_m" rows="8" cols="40">{{ message if message }}</textarea></p>
    <p><button type="submit">{{ 'Edit' if question_id else 'Add' }}</button></p>

    </form>

</body>
</html>