<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>{{ question }}</h1>
    {%  if answers %}

        <table>
        <thead>
        <tr>
            {% for key in answers[0].keys() %}
            <td>{{ key.replace('_', ' ').capitalize() }}</td>
            {% endfor %}
        </tr>
        </thead>
        {% for line in answers %}
            <tr>
                <td> {{line["id"]}}</td>
                <td> {{line["submission_time"]}}</td>
                <td> {{line["vote_number"]}}</td>
                <td> {{line["question id"]}}</td>
                <td> <a href="/answer">{{line["message"]}}</a></td>
                <td> {{line["image"]}}</td>
            </tr>
        {% endfor %}
        </table>

    {% else %}
        <h3>There are no answers to selected question</h3>
    {% endif %}

<a href="/answer">Add answer</a>
<p></p>
<a href="/list">Back to questions list</a>
<p></p>
<a href="/">Back to main page</a>
</body>
</html>