<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet", type="text/css", href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h3><a href="/note/{{ question_id }}">{{ question_title }}<a/></h3>
    <blockquote>{{ question_message }}</blockquote>
    <hr>
    {%  if answers %}
        <h4>Answers to this question:</h4>

        <table>

        <thead>
        <tr>
            {% for key in answers[0].keys() %}
                {% if key in ["submission_time", "vote_number", "message"] %}
                    <th>
                        <a href="/questions/{{ question_id }}/{{ key }}/{{ '0' if direction else '1'}}">
                        {{ key.replace('_', ' ').title() }}
                        </a>
                    </th>
                {% elif key == "image" %}
                    <td>{{ key.replace('_', ' ').title() }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for answer in answers %}
            <tr>
                <td> {{ answer["submission_time"] }}</td>
                <td> {{ answer["vote_number"] }}
                    <a class="vote_button" href="/questions/vote/{{ question_id }}/{{ answer["id"] }}/vote_up">
                    <img src='/static/images/ar_up.png' alt="up_arrow" width="15px">
                    </a>
                    <a class="vote_button" href="/questions/vote/{{ question_id }}/{{ answer["id"] }}/vote_down">
                    <img src='/static/images/ar_down.png' alt="down_arrow" width="15px">
                    </a>
                </td>
                <td><a href="/answer/{{ question_id }}/{{ answer["id"] }}">
                    {{ answer["message"] }}
                    </a>
                </td>
                <td> {{ answer["image"] }}</td>
            </tr>
        {% endfor %}
        </tbody>

        </table>

    {% else %}
        <h5>There are no answers to selected question</h5>
        <hr>
    {% endif %}

<hr>
<a href="/answer/{{ question_id }}">Add answer</a><p></p>
<a href="/list">Back to questions list</a>
<p></p>
<a href="/">Back to main page</a>

</body>
</html>