<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASK MATE</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="temp_style.css") }}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row rounded-pill">
            <div class="col-2">
                <img src="/static/images/askmate_logo.png" class="logo" alt="logo">
            </div>
            <div class="col-2">
                <a href="/list"> Show all questions </a>
            </div>
            <div class="col-2">
                <a href="/note"> Add question </a>
            </div>
            <div class="col-2">
                <a href="{{ url_for("user_registration")}}"> Registration </a>
            </div>
            <div class="col-2">
                {% if session %}
            <a href="{{ url_for("user_logout")}}"> Logout user: {{session}} </a>
            {% else %}
            <a href="{{ url_for("user_login")}}"> Log in </a>
            {% endif %}
            </div>
            <div class="col-2">
                <form class="search_bar" action="/search" method="get" >
                    <input type="text" name="sphrase" id="search_phrase" required>
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    <a></a>
        <div class="row">
            <div class="col-12">
           <table>
               <thead>
            <tr>
                {% for header in headers %}
                    <th>{{(header.replace("_"," ").strip().title())}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for dict in sorted_questions[:5] %}
                <tr>  </tr>
                     {% for key,value in dict.items() %}
                        {% if key in headers %}
                            <td>{% if key.strip() == "title" %}
                                    <a href="/questions/{{dict['id']}}">{{value}}</a>
                                    {% else %}
                                {{value}}
                            </td>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        </tbody>
           </table>
            </div>
        </div>
    </div>

</body>
</html>